# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Package management
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json

# Tools
/reports/*

# Testing
coverage
test-results

# Snapshots are excluded because we want it to be generated anew every run
__snapshots__

# Build artifacts
**/dist/
**/release/

# IDE related
.idea
.history

# Operating system
.DS_Store
*.bak
*.swp
*~

# Temporary or local data
tmp
.tmp
*.tsbuildinfo
.eslintcache

# dotenv files
.env
