# Package management
node_modules
.yarn/*
.pnp.*

# Changelog
CHANGELOG.md

# Build artifacts
dist
release

# Testing
coverage
__snapshots__
tests/public/test_files

# IDE related
.idea
.history

# Temporary or local data
tmp
